doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/home.css')
  body
    .container
      .header
        h1 Benvenuto alla pagina principale
      .selection
        h2 Seleziona la categoria di auto che desideri visualizzare:
      .car-box
        .person
          a(href='/naked')
            img.car-image(src='https://ktmfarioli.com/storage/media/10879/MY24-KTM-1390-SUPER-DUKE-R_EVO-(1).jpg', alt='Moto Naked')
          a.person-link(href='/naked') Auto Utilitarie
        .person
          a(href='/sportive')
            img.car-image(src='https://cdn-img.moto.it/images/23608669/2050x/yamaha-yzf-r6-race-2021-01.jpeg', alt='Moto Sportive')
          a.person-link(href='/sportive') Moto Sportive